odule.exports = {
  testConcurrency: {concurrency},
  showLogs: true,
  appName: "{buildName}",
  batchName: "{buildName}",
  storybookUrl: "http://airbnb.io/react-dates/?path=/story/daterangepicker-drp--default",
  readStoriesTimeout: 300000,
  waitBeforeScreenshots: 200,
  browser: [
    {width: 800, height: 600, name: 'chrome'}
  ],
  serverUrl: '{testServer}',
};
