module.exports = {
  testConcurrency: 50,
  showLogs: false,
  appName: "{buildName}",
  batchName: "{buildName}",
  storybookUrl: "http://airbnb.io/react-dates/?path=/story/daterangepicker-drp--default",
  readStoriesTimeout: 300000,
  waitBeforeScreenshots: 200,
  browser: [
    {width: 800, height: 600, name: 'chrome'}
  ],
  serverUrl: 'yotameyes.applitools.com',
};
